:root {
    --background-color: #1A1F36;
    --font-color: #E0E0E0;
    --highlit: #FFC107;


}

*{
     margin:0; 
     padding:0; 
     box-sizing: border-box;
     scrollbar-width: none;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
    padding: 0.75rem 0;
    /* height: 10vh; */
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.na2 {
    ul {
        display: flex;
        gap: 2.25rem;
        align-items: center;
        list-style: none;
    }

}

.na1 {
    font-size: 2rem;
    color: white;
}

.na2 {
    li {

        a,
        a:link {
            text-decoration: none;
            color: var(--font-color);
        }

        a:hover {
            color: var(--highlit);
        }



    }
}

.na3 {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.na3 {
    span {
        color: var(--font-color);
        font-size: 1.8rem;
    }
}

.na3 {
    button {
        color: #0A1F44;
        width: 7.5rem;
        height: 3.125rem;
        border-radius: 1.25rem 0px 1.25rem 1.25rem;
        font-size: 1.1rem;
        background-color: #FFC107;
        font-weight: 700;
    }
}
header{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to right, #FFC107 0%, #CFCCCC 64%, #DAD7D720 72%, #FFFFFF20 100%),url('../assets/image/contact.png');            
    padding: 10vh 10vw;
    line-height: 2;
}
.he{
    font-size: 3rem;
}
.hepr{
    font-size: 1.1rem;
}

.one{
    padding: 5vh;
    background-color: #122636;
    gap: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.one-head{
    font-size: 2.5em;
    color: var(--font-color);
}
.one-pra{
    display: block;
    color: var(--font-color);
    font-size: 1.2rem;
    width: 50vw;
    text-align: center;
}
.one-butt{
    padding: 10px 40px;
    background-color: var(--highlit);
    font-size: 1.5rem;
    font-weight: 500;
    border: none;

}
footer{
    background-color: #1B1D21;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 15vh;
    svg{
        width: 3rem;
    }
}
.two{
    background-color: #0F172A;
    padding: 2rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;    
    justify-content: space-evenly;
    width: 100%;
    gap: 8vh;
}
.two-head{
    text-align: center;
    padding: 2vh;
}
.twhema{
    color: var(--font-color);   
    font-size: 2.5rem;
    font-weight: 500;
}
.hediff {
    color: #FFC107;
}
.part1{
    color: var(--font-color);
    padding-top: 50px;

}
.part1-head{
    font-size:2rem;
    font-weight: 500;
}
.part1-sub{
    font-size: 0.9rem;
    color: #E0E0E0;
    padding: 1.3rem 0px;
}
.num{
    padding: 0.3rem 0;
}
.num,.location,.email{
    span{
        padding-right: 8px;
    }
}
.part2{
    max-width: 600px;
    min-width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;    
    background-color: #1E293B;
    border-radius: 10px;    
    padding: 3rem;
    border: 2px solid #828282;
}
input,textarea{
    display: inline-block;
    background-color: #334155;
    color: var(--font-color);
    border: none;    
    height: 50px;
    border: 2px solid #828282;
    border-radius: 10px;
    padding: 10px;

}
input:focus{
    outline: none;
}
textarea{
    height: 100px;
}
.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name-input{
    display: inline-block;
    width: 48%;
}
.part2{
    button{
        background-color: var(--highlit);
        border-radius: 50px;
        padding: 15px;
    }
}
.two-text{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}