:root {
    --background-color: #1A1F36;
    --font-color: #E0E0E0;
    --highlit: #FFC107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    padding: 0.75rem 0;
    /* height: 10vh; */
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.na2 {
    ul {
        display: flex;
        gap: 2.25rem;
        align-items: center;
        list-style: none;
    }

}

.na1 {
    font-size: 2rem;
    color: white;
}

.na2 {
    li {

        a,
        a:link {
            text-decoration: none;
            color: var(--font-color);
        }

        a:hover {
            color: var(--highlit);
        }



    }
}

.na2 li:nth-child(3) {
    a {
        color: var(--highlit);
    }
}

.na3 {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.na3 {
    span {
        color: var(--font-color);
        font-size: 1.8rem;
    }
}

.na3 {
    button {
        color: #0A1F44;
        width: 7.5rem;
        height: 3.125rem;
        border-radius: 1.25rem 0px 1.25rem 1.25rem;
        font-size: 1.1rem;
        background-color: #FFC107;
        font-weight: 700;
    }
}

.na3>button>a {
    color: #0A1F44;
    text-decoration: none;
}

header {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to right, #FFC107 0%, #CFCCCC 50%, #DAD7D720 72%, #FFFFFF20 100%), url('../assets/image/portfolio.png');
    background-position: right;
    background-repeat: no-repeat;
    padding: 10vh 10vw;
    line-height: 2;
}

.he {
    font-size: 3rem;
}

.hepr {
    font-size: 1.1rem;
}

.one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4rem;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 3rem;
}

.one-head {
    display: block;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.6;
    color: var(--font-color);
}

.diff {
    color: var(--highlit);
}

.onhepr {
    font-size: 0.9rem;
    color: var(--font-color);
    font-weight: 100;
    display: block;
}
.part2{
    display: flex;
    width: 80vw;
align-items: center;
flex-wrap: wrap;
gap: 3rem;
}
.one-txt{
    background-color: #FFFFFF20;
    border-radius: 15px;
    padding: 25px;
}

.oncoup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.oncolog {
    width: 50px;
    height: 50px;
    background-color: var(--highlit);
    color: var(--font-color);
    border-radius: 10px;

}

.oncols {
    font-size: 0.8rem;
    background-color: #FFFFFF20;
    color: var(--font-color);
    padding: 5px;
    border-radius: 25px;

}
.oncohe{
    font-size: 1.2rem;
    color: var(--font-color);
    padding: 2rem 0rem;
}
.oncola{
    color: var(--font-color);
    font-size: 1.1rem;
}
.oncofo{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 20px 0px ;
    color: var(--font-color);
    span{
        display: inline-block;
    }
}



























.four {
    padding: 5vh;
    background-color: #122636;
    gap: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.four-head {
    font-size: 2.5em;
    color: var(--font-color);
}

.four-pra {
    display: block;
    color: var(--font-color);
    font-size: 1.2rem;
    width: 50vw;
    text-align: center;
}

.four-butt {
    padding: 10px 40px;
    background-color: var(--highlit);
    font-size: 1.5rem;
    font-weight: 500;
    border: none;

}

footer {
    background-color: #1B1D21;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 15vh;

    svg {
        width: 3rem;
    }
}