:root {
    --background-color: #1A1F36;
    --font-color: #E0E0E0;
    --highlit: #FFC107;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* outline: 2px solid red ; */
    scrollbar-width: none;
}

nav {
    padding: 0.75rem 0;
    /* height: 10vh; */
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.na2 {
    ul {
        display: flex;
        gap: 2.25rem;
        align-items: center;
        list-style: none;
    }

}

.na1 {
    font-size: 2rem;
    color: white;
}

.na2 {
    li {

        a,
        a:link {
            text-decoration: none;
            color: var(--font-color);
        }

        a:hover {
            color: var(--highlit);
        }



    }
}
.na2 li:first-child{
    a{
        color: var(--highlit);
    }
}

.na3 {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.na3 {
    span {
        color: var(--font-color);
        font-size: 1.8rem;
    }
}

.na3 {
    button {
        width: 7.5rem;
        height: 3.125rem;
        border-radius: 1.25rem 0px 1.25rem 1.25rem;
        font-size: 1.1rem;
        background-color: #FFC107;
        font-weight: 700;        
    }
}
.na3>button>a{
    color: #0A1F44;
    text-decoration: none;
}

header {
    width: 100%;
    height: 90.5vh;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.30) 40%, rgba(0, 0, 0, 0.40) 70%, rgba(0, 0, 0, 0.50) 100%), url("./image/backround.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header>div {
    padding: 3.125rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}

.part1 {
    width: 31vw;
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    color: white;
    z-index: 2;

}

.heading {
    width: 31vw;
    font-weight: bold;
    display: block;
    font-size: 4rem;

}

.heading2 {
    font-weight: 400;
    font-style: italic;
}

.head-pra {
    font-weight: 400;
    display: block;
    word-break: break-all;
    color: var(--font-color);
    word-spacing: 2px;
    line-height: 1.6;

}

.part2 {
    width: 22.5rem;
    /* height: 260px; */
    background-color: #1E1B4B;
    padding: 2.5rem 1.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2.5rem;
}

.part2>div:first-child {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    justify-content: space-evenly;
}

.headimg {
    width: 5rem;
    height: 5rem;
    background-color: #d9d9d940;
    border-radius: 50%;
    background-image: url(./image/leader.png);
    background-size: cover;
    background-position: center;
}

.about-part2>span {
    display: block;
    color: var(--font-color);
    text-transform: capitalize;
}

.part2-butt {
    padding: 0.625rem 1.25rem;
    font-size: 1.2rem;
    background-color: #FFC107;
    border: none;
    font-weight: 500;
    display: flex;
    gap: 0.625rem;
    align-items: center;
}

.part3 {
    width: 60vw;
    padding: 0.625rem 0;
    padding-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.part3-div {
    display: flex;

    flex-direction: column;

    span {
        display: inline-block;
        color: #fff;

    }
}

.div-num {
    font-size: 1.8rem;

}

.div-word {
    font-size: 0.8rem;
    display: block;
}

.logos {
    height: 20.5vh;
    width: 100%;
    background-color: #1C2A48;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
        display: inline-block;
        height: 10vh;
    }
}

.two {
    background-color: #111827;
    width: 100%;
    height: 100vh;
}

.heading-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.1;

}

.hetwma {
    display: inline-block;
    color: var(--font-color);
    font-size: 3rem;
    padding: 1.25rem;
}

.two-diff {
    color: #FFC107;
}

.hetwse {
    color: var(--font-color);
    display: block;
    font-size: 1.3rem;
}

.contain-two {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60vw;

}

.cotw {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25rem 3.125rem;
    width: 20vw;
    line-height: 1.6;


}

.cotw>span {
    display: block;
}

.cotwlo {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
    background: linear-gradient(#FBBF24, #EA580C);
}

.cotwhe {
    font-size: 1.5rem;
    color: var(--font-color);
}

.cotwpr {
    font-size: 0.9rem;
    color: var(--font-color);
    word-spacing: 2px;
    line-height: 1.;
    word-break: break-all;
    width: 20vw;


}

.cotw5 {
    flex: 1;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.thrid {
    background-color: #232946;
    width: 100%;
    padding: 3.125rem;
    height: 70vh;
    gap: 1.25rem;
}

.contain-three {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3.125rem;
    width: 70vw;
}

.hethma {
    font-size: 2.5rem;
    font-weight: 500;
}

.coth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 1.5625rem;
    padding: 1.25rem;
    background-color: #ffffff10;
    width: 20vw;
    /* height: 40vh; */
    gap: 2.5rem;

    span {
        color: var(--font-color);
        display: inline-block;

    }

    button {
        color: var(--font-color);
        background-color: transparent;
        border: none;
    }
}

.cothlo {
    border-radius: 10px;
}

.cothpr {
    line-height: 1;
}

.cothhe {
    padding: 0;
}

.four {
    background-color: var(--background-color);
    width: 100%;
    height: auto;
}

.four-head {
    padding: 1.5rem;
}

.contain-four {
    padding: 1.5rem;
    display: flex;
    padding-bottom: 5rem;

    align-items: center;
    width: 60vw;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;

    span {
        display: inline-block;
    }
}

.cofoim {
    width: 25vw;
    height: 19vw;
    background-color: #d9d9d940;
    border-radius: 25px;
}

.cofotx {
    color: var(--font-color);
    width: 25vw;
    display: flex;
    flex-direction: column;
}

.cofonum {
    display: block;
    color: var(--highlit);
    font-size: 2rem;
    font-weight: 500;
}

.cofohead {
    display: block;
    color: white;
    font-size: 1.2rem;
    padding: 15px 0px;
}

.cofopra {
    font-size: 0.9rem;
}

.cofoul {
    padding: 10px 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cofoli {
    font-size: 1.1rem;
    font-weight: 400;
}

.fifth div:nth-child(2) {
    padding-bottom: 0px;
}

.contain-fifth {
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
    flex-wrap: wrap;
    width: 57vw;
    padding: 3rem;
}

.cofotx2 .cofopra {
    font-size: 1.13em;
}

.fifth {
    background-color: #0A1F44;
    padding: 1.1rem;
}

.cofi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cofilogo {
    width: 80px;
    height: 60px;
    background-color: #232946;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 50px
    }
}

.cofitxhe {
    padding: 20px;
    padding-bottom: 0px;
}

.cofitxpra {
    padding: 20px;
}

.cofitxt {
    display: flex;
    flex-direction: column;
    width: 15vw;
    background-color: #232946;
    border-radius: 15px;
    /* padding: 20px; */

    span {
        display: inline-block;
        color: var(--font-color);
    }
}

.six {
    background-color: var(--background-color);    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3vh 10vw;
    padding-bottom: 5vh;
    gap: 10vh;
    

}
.six-head{
    padding: 20px;
text-align: start;
width: 100%;
}
.hesima {
    font-size: 2.5rem;
    display: block;
    color: var(--font-color);

}
.hesise{
    color: var(--font-color);
}
.contain-six{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    gap: 20px;
    
}
.cosi{
    border-radius: 10px;
    padding: 12px;
    background-color: #232946;

    width: 12.5vw;
    display: flex;
    flex-direction: column;
    align-items: start;



    
     span{
        display: inline-block;
        color: var(--font-color);
    }
}
.cosiim{
    background-color: white;
    width: 10.8vw;
    height: 200px;
    border-radius: 10px;
    background-image: url('./image/leader.png');
    background-position: center;
    background-size: cover;
    text-align: center;

}
.cosihe{
    padding-top: 20px;
}
.cosisb{
    font-size: 0.8rem;
    padding: 4px 0px;
    
}
.cosipr{
    font-size: 0.8rem;
    padding: 10px 0px;
}
.seven{
    padding: 5vh;
    background-color: #122636;
    gap: 5vh;
}
.seven-head{
    font-size: 2.5em;
    color: var(--font-color);
}
.seven-pra{
    display: block;
    color: var(--font-color);
    font-size: 1.2rem;
    width: 50vw;
    text-align: center;
}
.seven-butt{
    padding: 10px 40px;
    background-color: var(--highlit);
    font-size: 1.5rem;
    font-weight: 500;
    border: none;

}
footer{
    background-color: #1B1D21;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 15vh;
    svg{
        width: 3rem;
    }
}
